/*font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
*/
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-family: Roboto, sans-serif;
}
:root {
  --main-font: Roboto;
  --accent-color: var(--#2196F3);
  --transition-timing: 250ms;
  --transition-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
}
ul {
  padding: 0;
  margin: 0px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
.header {
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 25px;
  padding-top: 25px;
}
.container {
  width: 1200px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.nav {
  display: flex;
  align-items: center;
}
.header__container {
  display: flex;
  align-items: center;
}
/* WebStudio */

.logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  margin-right: 93px;
  letter-spacing: 0.03em;

  color: #2196f3;
}
/* WebStudio */
.logo__studio {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;

  color: #000000;
}
/* Студия */

.site__nav {
  display: flex;
  margin: 0px;
}

.site__nav__link {
  font-weight: 500;
  padding-top: 32px;
  padding-bottom: 32px;
  font-size: 14px;
  letter-spacing: 0.02em;
  line-height: 1.14;
  color: #212121;
  position: relative;
  transition: color var(--transition-timing) var(--transition-function);
}
.neon::after {
  content: "";
  position: absolute;
  background-color: #2196f3;
  border-radius: 2px;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
}
.site__nav .site__nav__item .site__nav__link__current {
  color: #2196f3;
}
/* Студия */
.site__nav__link:hover,
.site__nav__link:focus {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #2196f3;
}

/* Портфолио */
.site__nav__link__portfolio {
  font-weight: 500;
  padding-top: 32px;
  padding-bottom: 32px;
  letter-spacing: 0.02em;
  position: relative;
  color: #212121;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.02em;
  transition: color var(--transition-timing) var(--transition-function);
}

/* Портфолио */
.site__nav__link__portfolio:hover,
.site__nav__link__portfolio:focus {
  font-weight: 500;

  letter-spacing: 0.02em;
  color: #2196f3;
}
/* Контакты */
.site__nav__item:not(:last-child) {
  margin-right: 50px;
}
.site__nav__link__contacts {
  font-weight: 500;
  padding-top: 32px;
  padding-bottom: 32px;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.02em;
  transition: color var(--transition-timing) var(--transition-function);
  color: #212121;
}

/* Контакты */
.site__nav__link__contacts:hover,
.site__nav__link__contacts:focus {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: #2196f3;
}
.contacts__item:hover {
  color: #2196f3;
}
.contacts {
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
}
/* info@devstudio.com */
.contacts__item:not(:last-child) {
  margin-right: 50px;
}

.link__contacts__icon {
  fill: #757575;
  margin-right: 10px;
  height: 16px;
  transition: fill var(--transition-timing) var(--transition-function);
}

.contacts__link:hover .link__contacts__icon,
.contacts__link:focus .link__contacts__icon {
  fill: #2196f3;
}
.contacts__link:hover,
.contacts__link:focus {
  color: #2196f3;
}

.contacts__link:hover,
.contacts__link:focus {
  color: #2196f3;
}
.contacts__link {
  display: block;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  align-items: center;
  transition: color var(--transition-timing) var(--transition-function);
}

/* Bg */
.hero {
  padding-top: 94px;
  padding-bottom: 94px;
}
.hero__list {
  display: flex;
}
.hero__item {
  width: 270px;
}

.hero__item:not(:last-child) {
  margin-right: 30px;
}

.unique__content {
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  max-width: 1600px;
  background-color: #2f303a;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/foto.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/* Эффективные решения для вашегоt бизнеса */
.main__logo {
  font-family: Roboto;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  font-size: 44px;
  color: #ffffff;
}

/* bg кнопка */
.btn {
  display: flexbox;
  margin: 30px 700px 200px 700px;
}
.main__button {
  margin-top: 30px;
  padding: 10px 32px;
  min-width: 13px;
  color: #ffffff;

  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  line-height: 1.87;
  align-items: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: 0;
  font-family: Roboto;
  background-color: rgba(33, 150, 243, 1);
  transition: background-color var(--transition-timing)
    var(--transition-function);
}
.main__button:hover,
.main__button:focus {
  background-color: rgba(24, 140, 232, 1);
}

/* Модальное окно*/
backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is__hidden {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  pointer-events: none;
}
.modal {
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
  border-radius: 4px;
}
.close {
  width: 11px;
  height: 11px;
}
.close__btn {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  background-color: #ffffff;
  cursor: pointer;
  transition: fill var(--transition-timing) var(--transition-function);
}
.close__btn:hover,
.close__btn:focus {
  fill: #2196f3;
}
.form__js {
  margin-top: 12px;
}
.modal__title {
  font-family: Roboto;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.03em;
  line-height: 1.44;
}
.modal__js {
  display: flex;
  position: relative;
  flex-direction: column;
  margin-bottom: 10px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__js label {
  margin-bottom: 4px;
  letter-spacing: 0.01em;
  line-height: 0.88;
  color: #757575;
  margin-left: 0px;
  text-align: left;
}
.modal__js input[type="checkbox"] {
  width: 40px;
}
.modal__link {
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #2196f3;
  margin-left: 5px;
  text-decoration: underline;
  text-underline-position: under;
}

.box__input {
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--transition-timing) var(--transition-function);
  padding-left: 42px;
  outline: transparent;
}

.box__input__coment {
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 20px;
  transition: border-color var(--transition-timing) var(--transition-function);
  resize: none;
  outline: transparent;
}

.modal__icon {
  position: absolute;
  top: 58%;
  left: 15px;
  display: inline-block;
  width: 13px;
  height: 13px;
  transition: fill var(--transition-timing) var(--transition-function);

  outline: transparent;
}

.box__input:hover,
.box__input:focus {
  border-color: #2196f3;
}

.modal__js:hover input,
.modal__js:focus input {
  border-color: #2196f3;
}
.modal__icon:hover {
  fill: #2196f3;
}

.box__input:hover + .modal__icon,
.box__input:focus + .modal__icon {
  fill: #2196f3;
}
.box__input__coment:hover,
.box__input__coment:focus {
  border-color: #2196f3;
}

/* CHECKBOX */
.checkbox__label {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom__checkbox__icon {
  width: 10px;
  height: 10px;
  opacity: 0;
  transition: opacity 300ms ease-in;
}

.custom__checkbox {
  width: 16px;
  height: 15px;
  display: flex;
  margin-right: 7px;
  align-items: center;
  justify-content: center;
  outline: 2px solid #212121;
  outline-offset: -2px;
  border-radius: 2px;
  transition: bbackground-color 300ms ease-in;
  fill: #eeeeee;
}

.checkbox:checked + .custom__checkbox .custom__checkbox__icon {
  opacity: 1;
  fill: #eeeeee;
}
.checkbox:checked + .custom__checkbox {
  background-color: #2196f3;
  outline-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.visualitty__hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.text__modal {
  font-size: 14px;
}
.send {
  width: 200px;
  height: 50px;
  margin-top: 30px;
  min-width: 13px;
  color: #ffffff;

  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  line-height: 1.87;
  align-items: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: 0;
  font-family: Roboto;
  background-color: rgba(33, 150, 243, 1);
  transition: background-color var(--transition-timing)
    var(--transition-function);
}
.send:hover,
.send:focus {
  background-color: rgba(24, 140, 232, 1);
}
/*=====================================================*/

/* Внимание к деталям */
.hero__title {
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;

  color: #212121;
}
.hero__item__logo {
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f4fa;
}
.hero__item__svg {
  width: 70px;
  height: 70px;
}
/* Идейные соображения, а также начало повседневной работы по формированию позиции. */
.upper__text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  color: #757575;
}
/* Чем мы занимаемся */
.study {
  padding-bottom: 94px;
}

.study__title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 2.62;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.study__list {
  display: flex;
}
.study__item:not(:last-child) {
  margin-right: 30px;
}
.study__item {
  position: relative;
}
/* img */
.study__item__image {
  width: 370px;
}
.box {
  position: absolute;
  background: rgba(47, 48, 58, 0.8);
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  bottom: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.tittle__work {
  color: #ffffff;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* Section bg */
.comands {
  text-align: center;
  padding-bottom: 94px;
  padding-top: 94px;
  padding-bottom: 94px;
  background: #f5f4fa;
}
.comands__list {
  display: flex;
}
/* Наша команда */
.comands__text {
  color: #212121;
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 50px;
  text-align: center;
}
.comands__item {
  text-align: center;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
  background: #ffffff;
}
.comands__item:not(:last-child) {
  margin-right: 30px;
}
.about__img {
  width: 270px;
}

.comands__product {
  padding-top: 30px;
  padding-bottom: 30px;
}

/* Product Designer */
.comands__upper {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  color: #757575;
}
.comands__item {
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
  border-radius: 0px 0px 4px 4px;
}
.comands__item:not(:last-child) {
  margin-right: 30px;
}
.comands__imag {
  width: 270px;
}
.comands__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 10px;
  color: #212121;
}

/* Соц сети*/
.social {
  list-style-type: none;
  display: flex;
  padding-left: 0;
  justify-content: center;
  margin-top: 16px;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}
.social__item {
  width: 44px;
  height: 44px;
}
.social__link {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: #afb1b8;
  border-radius: 50%;
  transition: color var(--transition-timing) var(--transition-function),
    background-color var(--transition-timing) var(--transition-function);
}

.social__link:hover,
.social__link:focus {
  background-color: #2196f3;
  color: #fff;
}
.social__icon {
  fill: currentColor;
  width: 20px;
  height: 20px;
}
.social__icon:hover,
.social__icon:focus {
  fill: #ffffff;
  height: 100%;
}

/*< !-- Секция наши клиенты -->*/
.regular__customers {
  padding-top: 94px;
  padding-bottom: 94px;
}

.most__client {
  text-align: center;
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 2.62;
  letter-spacing: 0.03em;
}

.clients {
  display: flex;
}
.clients__item:not(:last-child) {
  margin-right: 30px;
}
.clients__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
  transition: border-color var(--transition-timing) var(--transition-function);
}
.clients__item:hover,
.clients__item:focus {
  border-color: #2196f3;
}
.clients__icon {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
  transition: fill var(--transition-timing) var(--transition-function);
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  color: currentColor;
  cursor: pointer;
}
.clients__link:hover .clients__icon,
.clients__link:focus .clients__icon {
  fill: #2196f3;
}

/* Footer bg*/
.adress__footer {
  display: flex;
  align-items: baseline;
}

.footer__container {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.adress {
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.03em;
}
.footer__logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.94;
  letter-spacing: 0.03em;
  color: #2196f3;
  margin-bottom: 20px;
  display: block;
}
.address {
  text-decoration: none;
  cursor: default;
  line-height: 1.71;
  font-style: normal;

  display: block;
  color: #ffffff;
  margin-bottom: 9px;
}
.footer__item {
  text-decoration: none;
  line-height: 1.71;
  letter-spacing: 0.03em;
  display: block;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
}
.logo__studio__footer {
  color: #ffffff;
}
.footer__adress:not(:last-child) {
  margin-bottom: 9px;
}
/*---Социальные Сети*/
.sety__come {
  width: 206px;
  height: 80px;
  margin-left: 70px;
  margin-top: 72px;
}
.commen {
  font-weight: 700;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-top: 0;
}
.sety {
  display: flex;
  list-style-type: none;
  margin-top: 20px;
}
.sety__social:not(:last-child) {
  margin-right: 10px;
}
.sety__social {
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}
.svg__icon__come {
  width: 20px;
  height: 20px;
}
.social__all:hover,
.social__all:focus {
  border-radius: 50%;
  background: #2196f3;
}
.social__all {
  display: flex;
  justify-content: center;
  height: 44px;
  width: 44px;
  align-items: center;
  transition: background var(--transition-timing) var(--transition-function);
  border-radius: 50%;
}
.form__masenger {
  display: flex;
  align-items: end;
  margin-left: 93px;
}
.masenger {
  font-weight: 700;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.label__masenger {
  display: flex;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2f303a;
  width: 358px;
  height: 50px;
  margin-top: 20px;
  color: white;
}
.masenger__send {
  display: flex;
  width: 200px;
  margin-left: 12px;
  background-color: rgba(33, 150, 243, 1);
  justify-content: center;
  padding: 10px 22px;
  font-weight: bold;
  cursor: pointer;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: 0px;
  font-family: Roboto;
  transition: background-color var(--transition-timing)
    var(--transition-function);
}
.masenger__send:hover,
.masenger__send:focus {
  background-color: rgb(13, 124, 209);
}
.send__icon {
  width: 24px;
  height: 24px;

  fill: #f5f4fa;
  margin-left: 10px;
  align-items: center;
}
.masenger__send__go {
  color: rgb(255, 255, 255);
}
/*----ПОРТФОЛИО----*/
/*секция хедер*/

/* КНОПКИ*/

.button__item:not(:last-child) {
  margin-right: 8px;
}
.portfolio__btn {
  align-items: center;
  font-family: inherit;
  text-align: center;
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border: 0;
  background-color: rgba(245, 244, 250, 1);
  border-radius: 4px;
  transition: backround var(--transition-function), var(--transition-timing);
  color: #212121;
  float: left;
}
.portfolio__btn:hover,
.portfolio__btn:focus {
  background: rgba(33, 150, 243, 1);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;

  color: #ffffff;
}

/*Уникальный контент*/

.content__link {
  display: block;
}
.content__link:hover,
.content__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: backround var(--transition-function), var(--transition-timing);
}
.content {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}
.content__item {
  margin: 15px;
  box-sizing: border-box;
  width: 370px;
}
.product {
  background: #ffffff;
  overflow: hidden;
  position: relative;
}

.product__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
}

.main__content:hover .product__overlay,
.main__content:focus .product__overlay {
  transform: translateY(0%);
  opacity: 1;
}

.content__link:hover .product__overlay,
.content__link:focus .product__overlay {
  transform: translateY(0%);
  opacity: 1;
}

.main__content:hover {
  cursor: pointer;
}

.content__image {
  width: 370px;
}

.paragraph {
  font-weight: 700;
  font-size: 18px;
  line-height: 2.25;
  letter-spacing: 0.05em;
  color: #212121;
}
.title {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 4px;
}

.content__list {
  display: flex;
  justify-content: center;
  margin-bottom: 34px;
}
.portfolio__container {
  padding-top: 94px;
  padding-bottom: 94px;
}
.paragraf__web {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.content__text {
  top: 0;
  left: 0;
  font-family: Roboto;
  font-style: normal;
  letter-spacing: 0.03em;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  font-size: 18px;
  line-height: 28px;
  width: 100%;
  height: 100%;
  padding-top: 63px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 63px;
  position: absolute;
}
